@font-face {
    font-family: Melted;
    src: url('fonts/melted-monster-font.ttf') format('truetype'); /* Make sure the font format matches your file */
}


body {
  background-color: black;
  color: white;
}

.melted-font {
    font-family: Melted;
    font-size: 3rem;
    color: white;
}
.nav-link {
    color: white;
    transition: color 0.3s ease; /* Smooth transition for hover */
}

.nav-link:hover {
    color: orange; /* Simple color change on hover */
}
.parallax {
    background-image: url('images/home2withoutmark.png'); /* Add your image here */
    height: 85vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.parallax h1 {
    font-size: 3rem;
    margin: 0;

}

.parallax p {
    font-size: 1.5rem;
    margin: 0;
}

  
.nav-link {
  color: white;
  transition: color 0.3s ease; /* Smooth transition for hover */
}

.nav-link:hover {
  color: orange; /* Simple color change on hover */
}





.learn-more-btn {
  padding: 5px 10px; /* Small button size */
  font-size: 0.9rem; /* Smaller font */
  color: white;
  border: 2px solid orange;
  background-color: transparent;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  align-self: center; /* Vertically align with the image */
  display: inline-block;
  margin-top: 15px; /* Add margin to separate from the image */
}

.learn-more-btn:hover {
  background-color: orange; /* Orange background on hover */
  color: black;
}

#imgfix {
  transition: transform 0.3s, opacity 0.3s;
  display: inline-block;
}

#imgfix:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
