.parallax {
    background-image: url('images/home2withoutmark.png'); /* Add your image here */
    height: 85vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.parallax h1 {
    font-size: 3rem;
    margin: 0;
}

.parallax p {
    font-size: 1.5rem;
    margin: 0;
}

  
  .nav-link {
    color: white;
}
.nav-link:hover {
    color: orange;
}


/* Image Spacing */
.image-box {
    margin-bottom: 30px; /* Space between images */
  }
  
  .textfont {
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  #imgfix {
    transition: transform 0.3s, opacity 0.3s; /* Smooth transition */
  }
  
  #imgfix:hover {
    transform: scale(1.05); /* Slightly enlarge the image */
    opacity: 0.9; /* Change opacity on hover */
  }




